@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --color-primary: rgb(0, 158, 223);
    --color-secondary: rgb(5, 74, 102);
}

*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* Menu */
header{
    background-color: white;
    padding: 32px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;

}

.menu a+a {
    margin-left: 32px;
}

.menu a{
    color: #777;
    text-decoration: none;
    position: relative;
}

.menu a.active{
    font-weight: bold;
    color: var(--color-secondary);
}

.menu a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    bottom: -3px;
}

.menu a:hover::after{
    content: '';
    width: 100%;
    transition: width 300ms ease-in-out;
}

/* ====== CARD =======*/
.card{
    /* Cor de fundo */
    background-color: white;
    /* Tamanho */
    width: 800px;
    min-height: 400px;
    /* Espaçamento */
    margin: 45px auto;
    /* Grid */
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;

    /* Animação */
    animation: up 200ms ease-out;

    box-shadow: 20px 20px 20px black;

}

    @keyframes up{
        from{
            opacity: 0;
            transform: translateY(15px);
        }
        to{
            opacity: 1;
        }
    }

.details{
    color: black;
    padding: 32px;
}


.details .item{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 16px;
}

.details .item:first-child{
    border: none;
}

.details h3,
.details .item div:nth-child(1){
    color: #777;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: bold;
    margin-bottom: 8px;
}

.details h3{
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 18px;
}

.details .item div:nth-child(2){
    color: rgb(71, 71, 71);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--color-primary);
    border-radius: 16px;
    display: inline-block;
    margin-top: 8px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

/* FORM */
input{
    width: 100%;
    /* Linha do text */
    outline: none;
    color: rgb(82, 80, 80);
    font-weight: bold;
    font-size: 16px;
}
input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}
a.button,
button[type="submit"]{
    padding: 8px 32px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: white;
    font-size: 16px;
    
}

a.button{
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    
}