{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/489203/500x500) no-repeat center center / cover">
        </section>
        <section class="details">

            <h3>Novo professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div><input type="url" name="avatar_URL" placeholder="http://" ></div>
            </div>

            <div class="item">
                <div>Professor</div>
                <div><input type="text" name="name" placeholder="Lucio Fontinele" ></div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div><input type="date" name="birth"></div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    <select name="educational_level">
                        <option value="high_school" selected>Ensino Médio Completo</option>
                        <option value="University_education">Ensino Superior Completo</option>
                        <option value="master">Mestrado</option>
                        <option value="doctorate">Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <span><input type="radio" name="type_of_class" checked>EAD</span>
                <span><input type="radio" name="type_of_class" >Presencial</span>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input list="browsers" placeholder="Engenharia de software" name="ocupation">
                        <datalist id="browsers">
                            <option value="Engenharia de software">
                            <option value="Ciência de dados">
                            <option value="Mobile">
                            <option value="Desenvolvedor Web">
                            <option value="Inteligência Artificial">
                    </datalist>
                </div>
            </div>

            <button type="submit">Salvar</button>


        </section>
    </form>
{% endblock content %}